/* ===============================
   Pot Section
================================ */
.pot-info {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.pot-info .title {
    font-size: 1rem;
}

.total-pot {
    font-size: 1.8rem;
    font-weight: 600;
}

.pot-info .description {
    text-align: center;
    font-size: 0.7rem;
}

.pot-info button {
    margin-top: 1vh;
    width: 80vw;
    border-radius: 30px;
    border-color: #0074D9;
    background-color: #0074D9;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.6em 1.4em;
}

/* ===============================
   How it works section
================================ */

.how-it-works {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.how-it-works .title {
    align-items: flex-start;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5vh;
    font-weight: bold;
}

.rules-list {
  display: flex;
  justify-content: center; /* center the <ol> block */
  width: 100%;
}

.rules-list ol {
  font-size: 0.8rem;
  list-style-position: outside;
  text-align: left;
  padding-left: 1.2em;
  margin: 0 auto;
  
}


/* ===============================
   local footer
================================ */

.home svg, .home-word {
    color: #0074D9;
}