.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3em
}

.pot {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 2vh;
    gap: 1vh;
}

#player-count, #total-amount {
  font-weight: bold;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin-top: 0.8vh;
    width: 95vw;
    border-radius: 30px;
    border-color: #0074D9;
    background-color: #0074D9;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.6em 1.4em;
}

button.locked-timeout {
  background-color: #DC3545; /* red */
  border-color: #DC3545;
  cursor: not-allowed;
}

button.locked-submitted {
  background-color: #6c757d; /* gray */
  border-color: #6c757d;
  cursor: not-allowed;
}

/* ===============================
  tiebreaker guess
================================ */

.tie-guess-content {
  font-size: 0.8rem;
}

.tie-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vh;
    gap: 1vh;
    border: 1px solid white;
}



/* ===============================
  Game cards
================================ */

.game-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-bottom: 2vh;
}

.game-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw;
    border-bottom: 1px solid white;
}

.game-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
}

.away-team, .home-team {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0;
    padding: 2vh;
    line-height: 1; 
    align-items: center;
}

.away-team h3,
.away-team p,
.home-team h3,
.home-team p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.away-team p, .home-team p {
    font-size: smaller;
}

.away-team,
.home-team {
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;
}

.away-team:focus,
.home-team:focus {
  outline: none;
  border: none;
}

.away-team.selected,
.home-team.selected {
  border: 2px solid #0074D9;
  background-color: #0074D9;
  border-radius: 5px;
}

.selected { background-color: #0074D9; border-color: #0074D9; border-radius: 5px; color: white; }
.correct-pick { background-color: #28A745; border-color: #28A745; border-radius: 5px; color: white; }
.wrong-pick { background-color: #DC3545; border-color: #DC3545; border-radius: 5px; color: white; }

/* ===============================
  footer
================================ */

.picks svg, .picks-word {
  color: #0074D9;
}